.section-list.buttons {
  // display: flex;
  // justify-content: center;
  margin-top: 0px;
  // margin-bottom: 50px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: center;
  }
}

.section-list.buttons {
  .item {
    margin-right: 8px;

    @media screen and(min-width:768px) {
      margin-bottom: 50px;
    }
  }
}

.section-list.buttons {
  .item:last-child {
    margin-right: 0px;
  }
}

.section-list.buttons {
  @media screen and (max-width: 767px) {
    .item:not(:last-child) {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 40px;
    }
  }
}
