img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: $main-font;
  letter-spacing: 0.03em;
}

// .container {
//   width: 1200px;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin: 0 auto;
// }

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  .section-title {
    margin-top: 0px;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
  }
}
