$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$footer-background-color: #2f303a;
$footer-signature-color: rgba(255, 255, 255, 0.4);
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$secondary-background-color: #f5f4fa;

$main-font: Roboto, sans-serif;
$secondary-font: Raleway;
